<div class="container">

  <div class="tabs">
    <a class="tab" href="/myitems">
      <p>My Items</p>
    </a>
    <a class="tab" href="/myrequests">
      <p>My requests</p>
    </a>
    <a class="tab active" href="/requests">
      <p>Incoming Requests</p>
    </a>
    <a class="tab" href="#">
      <p>Complaints</p>
    </a>
  </div>

  <div class ="display-container">

    <% if @owner_items.size == 0 %>
      <h3>No one wants your <span style= "font-family:Freckle Face; font-size:150%;">trash!</span></h3>
    <% else %>
      <% @owner_items.each do |item| %>
        <% if item.requests.size > 0 %>
          <% item.requests.each do |request| %>
            <div class="message">
              <div class="message-name">
                <p><%= request.item.name %></p>
              </div>
              <div class="message-body">
                <p><%= request.user.email %></p>
              </div>
              <div class="message-status">
                  <% case request.status %>
                    <% when "0" %>
                      <p>waiting for approval</p>
                        <div uk-dropdown>
                          <%= link_to("Accept", request_path(request, { status: '1' }), method: :patch) %>
                          <%= link_to("Decline", request_path(request, { status: '2' }), method: :patch) %>
                        </div>
                    <% when "1" %>
                      <p class="green-text">Accepted</p>
                    <% when "2" %>
                      <p class="red-text">Declined</p>
                  <% end %>
                <p class="price"> <%= request.created_at %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
