<div class="container">
  <div class="search-bar">
    <input type="text" placeholder="Pick your next broken item...">
  </div>
  <div class="cards">
    <% @items.each do |item| %>
      <%= link_to item_path(item), data: { target: "#brokenModal-#{item.id}", toggle: "modal"
      } do  %>
        <div class="card">
          <div class="card-img break-anim" style="background-image: url(<%= item.photo %>)";></div>
          <div class="card-details">
            <div class="card-title"> <%= item.name %> </div>
            <div class="card-description"><%= item.description %></div>
          </div>
        </div>


      <% end %>
      <div class="modal fade" id="brokenModal-<%= item.id %>" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content modal-style">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Replace unsplash url line 11 with item.photo in ruby code -->

<!-- Break image -->
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/delaunay.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>

