<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>brknstuff (in development)</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  </head>
  <body>
    <div class="navbar-brknstuff">

      <!-- displayed on laptops -->
      <div class="navbar-brknstuff-actions d-none d-sm-flex">

        <div class="add-item">
          <%= link_to "ADD ITEM", new_item_path, class: "btn" %>
        </div>

        <div class="navbar-brknstuff-title"><%= link_to "BrKnStUFf",  items_path%></div>

        <div class="dropdown">
          <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <p class="navbar-brknstuff-link"><%= link_to "My Requests",  requests_path%></p>
            <p class="navbar-brknstuff-link"><%= link_to "My Items",  myitems_path%></p>
            <p class="navbar-brknstuff-link"><%= link_to "Sign up",  new_user_registration_path%></p>
            <p class="navbar-brknstuff-link"><%= link_to "Sign in",  new_user_session_path%></p>
            <p class="navbar-brknstuff-link"><%= link_to "Logout",  destroy_user_session_path,  :method => :delete%></p>
          </div>
        </div>
      </div>
    </div>


    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
  </body>


</html>
